.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-text {
    color: $neutral2;
}

.fraunces-500 {
    font-family: 'Fraunces', serif;
    font-weight: 500;
}

.fraunces-700 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}